<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/product.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Đơn hàng</title>
    <style>
        .img {
            width: 40px;
            height: 40px;
            border-radius: 7px;
        }

        .tt {
            text-decoration: none;
            color: black;
        }

        .tt:hover {
            color: rgb(102, 101, 101);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <%- include('../inc/menu') %>

            <div class="row align-items-center">
                <div class="col-9 mt-4 ms-4">
                    <h2><a class="tt" href="/orders">List Order</a></h2>
                </div>

                

            </div>
            <hr>

            <div class="container d-flex justify-content-end">

                <!-- Tìm kiếm tên sản phẩm -->
                <form method="post" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Nhập tên nhân viên.."
                        aria-label="Search" name="searchName">
                    <button class="btn btn-outline-success" style="background-color: #145DA0; color: white;"
                        type="submit">Tìm</button>
                </form>

            </div>

            <div class="container">

                <div class="row">
                    <table class=" table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên khách hàng</th>
                                <th class="col-4">Ngày mua</th>
                                <th>Sản phẩm</th>
                                <th>Trạng thái</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% listOr.forEach( (obj,index)=> { %>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <%= obj.id_khachhang.fullname %>
                                        </td>
                                        <td>
                                            <%= obj.ngaymua %>
                                        </td>
                                        <td>
                                            <img class="img" src="<%= obj.id_sanpham.image %>" alt="">
                                        </td>
                                        <td>
                                            <%= obj.trangthai %>
                                        </td>
                                        <td>
                                            <%= obj.tongtien.toLocaleString() %>₫
                                        </td>
                                        <td style="text-align: center; vertical-align: middle">
                                            <a href="orders/detail/<%= obj._id %>"><i class="fa-sharp fa-solid fa-pen"
                                                    style="color: black;"></i></a>
                                        </td>
                                    </tr>
                                        <% }); %>
                    </table>
                </div>
            </div>


            <hr>
    </div>


    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>