<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <style>
        .img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="container-fluid ">
        <%- include('../inc/menu') %>

            <div class="row mt-3 ms-2">
                <h2>Infomation User</h2>
            </div>
            <hr>

            <div class="container">
                    <div class="row col-12 mt-1 justify-content-center">
                        <div class="col-2">
                            <img class="img" src="../../images/avtnam.png" alt="">
                        </div>
                    </div>
            </div>

            <div class="container">
                <div class="row col-12 mt-1 justify-content-center">
                    <div class="row col-7 mt-2">
                        <p class="col-6 fw-semibold text-end border">Họ tên</p>
                        <p class="col-6 border">
                            <%= detaiU.fullname %>
                        </p>
                    </div>
    
                    <div class="row col-7">
                        <p class="col-6 fw-semibold text-end border">Username</p>
                        <p class="col-6 border">
                            <%= detailU.username %>
                        </p>
                    </div>
                    <div class="row col-7">
                        <p class="col-6 fw-semibold text-end border">Điện thoại</p>
                        <p class="col-6 border">0<%= detailU.phone %>
                        </p>
                    </div>
                    <div class="row col-7">
                        <p class="col-6 fw-semibold text-end border">Email</p>
                        <p class="col-6 border">
                            <%= detailU.email %>
                        </p>
                    </div>
                </div>


            </div>
    </div>


    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>