<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/product.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Sản phẩm</title>
    <style>
        .img {
            width: 40px;
            height: 40px;
            border-radius: 7px;
        }

        .tt {
            text-decoration: none;
            color: black;
        }

        .tt:hover {
            color: rgb(102, 101, 101);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <%- include('../inc/menu') %>

            <div class="row align-items-center">
                <div class="col-9 mt-4 ms-4">
                    <h2><a class="tt" href="/staffs">List Staff</a></h2>
                </div>

                <button type="button" class="btn btn-primary col-2 mt-4 ms-5"
                    style="background-color: #145DA0; color: white;" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Thêm nhân viên
                </button>
                <%- include('../staffs/inc/modalAdd') %>

            </div>
            <hr>

            <div class="container d-flex justify-content-end">

                <!-- Tìm kiếm tên sản phẩm -->
                <form method="post" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Nhập tên nhân viên.."
                        aria-label="Search" name="searchName">
                    <button class="btn btn-outline-success" style="background-color: #145DA0; color: white;"
                        type="submit">Tìm</button>
                </form>

            </div>

            <div class="container">

                <div class="row">
                    <table class=" table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Họ tên</th>
                                <th>Username</th>
                                <th>Giới tính</th>
                                <th>Số điện thoại</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% listStaff.forEach( (obj,index)=> { %>
                                <% if(obj.role==2){ %>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <%= obj.fullname %>
                                        </td>
                                        <td>
                                            <%= obj.username %>
                                        </td>
                                        <td>
                                            <%= obj.id_gender.name %>
                                        </td>

                                        <td>
                                            0<%= obj.phone %>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle">
                                            <a href="staffs/edit/<%= obj._id %>"><i class="fa-sharp fa-solid fa-pen"
                                                    style="color: black;"></i></a>
                                            <!-- <a href="staffs/del/<%= obj._id %>"
                                                onclick="return confirm('Chắc chắn xóa?')"><i
                                                    class="fa-sharp fa-solid fa-trash" style="color: black;"></i></a> -->
                                            <a href="staffs/detail/<%= obj._id %>"><i
                                                    class="fa-sharp fa-solid fa-circle-info"
                                                    style="color: black;"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% }); %>
                    </table>
                </div>
            </div>


            <hr>
    </div>


    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>